@import "compass/reset";
@import "compass/css3";
@import "helpers";

html, body { width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden; background: #242424; }

body { font-family: "Helvetica", "Helvetica", Arial; }

#map { width: 100%; height: 100%; }

a.cartodb_logo {position:absolute; bottom:8px; left:75px; display:block; width:69px; height:27px; background:url('http://cartodb.s3.amazonaws.com/embed/embed_sprite.png') no-repeat -61px 0; text-indent:-9999px; line-height:0; font-size:0;}

/* tell the SVG path to be a thin blue line without any area fill */
path {stroke-width: 1;fill: none;}
.data1 {stroke: #FF9900;}
.data2 {stroke: #eb0d4d;}

aside {
  $padding: 20px;
  @include size(207px - $padding*2, 304px - $padding*2);
  @include position(15px, false, false, 15px);

  padding: $padding;

  background: #fff;
  @include border-radius(5px);

  h1 {
    font-size: 21px;
    font-weight: bold;
    margin: 0 0 5px 0;
  }

  #graph { position:relative; height: 120px; background: transparent; margin: 0 0 10px 0; }

  #play_button{ position: absolute; bottom: 0px; left: 0; width: 5px; height: 5px; background: #b90b77; -moz-border-radius: 3px; border-radius: 3px; }

  #clock {
    font-size: 15px;
    font-weight: bold;
    color: $cGray3;

    .column { display: inline; }
  }

  .legend {
    li {
      font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
      font-size: 13px;
      color: $cGray1;
    }

  }

}
