@import "compass";
@import "compass/reset";
@import "compass/css3";
@import "helpers";

html, body { width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden; background: #242424; }

body { font-family: "Helvetica", "Helvetica", Arial; }

#map { width: 100%; height: 100%; }

.cartodb_logo {
  @include size(69px, 27px);
  @include position(false, false, 15px, 15px);

  background:url('http://cartodb.s3.amazonaws.com/embed/embed_sprite.png') no-repeat -61px 0;
  text-indent:-9999px;
}

aside {
  $padding: 20px;
  @include size(207px - $padding*2, 304px - $padding*2);
  @include position(15px, false, false, 15px);

  padding: $padding;

  background: #fff;
  @include border-radius(5px);

  h1 {
    font-size: 21px;
    font-weight: bold;
    margin: 0 0 10px 0;
  }

  #clock {
    margin: 0 0 10px 0;

    font-size: 15px;
    font-weight: bold;
    color: $cGray3;
  }

  #graph {
    position:relative;
    height: 120px;
    margin: 0 0 15px 0;

    overflow: hidden;

    background: transparent;
    border-top: 1px solid $cGray4;
  }

  #progress {
    display:none;

    @include size(1px, 120px);
    @include position(false, false, 0, 0);

    background: url(../img/line.png);

    &.show { display: block; }
  }

  #play {
    $width: 107px;
    $height: 64px;

    @include absolute-center($width, $height);
    @include icons-sprite(play);

    &:hover  { @include icons-sprite(play_hover);}
    &:hover:active { @include icons-sprite(play_active); }

    &.hidden { display: none; }
  }

  .legend {

    li {
      font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
      font-size: 13px;
      color: $cGray1;

      padding: 0 0 0 13px;
      margin: 0 0 3px 0;

      &.civilian { @include icons-sprite(bullet-yellow, $offset-y: 3px); }
      &.children { @include icons-sprite(bullet-pink,   $offset-y: 3px); }
    }

  }
}

// Tell the SVG path to be a thin blue line without any area fill
path {stroke-width: 1;fill: none;}

.data1 {stroke: #FF9900;}
.data2 {stroke: #eb0d4d;}

@-webkit-keyframes Opacity { 0%   { opacity: 0; } 50%  { opacity: 0.5; } 100% { opacity: 1; } }
@-moz-keyframes Opacity { 0%   { opacity: 0; } 50%  { opacity: 0.5; } 100% { opacity: 1; } }
@-ms-keyframes Opacity { 0%   { opacity: 0; } 50%  { opacity: 0.5; } 100% { opacity: 1; } }
@-o-keyframes Opacity { 0%   { opacity: 0; } 50%  { opacity: 0.5; } 100% { opacity: 1; } }
@keyframes Opacity { 0%   { opacity: 0; } 50%  { opacity: 0.5; } 100% { opacity: 1; } }

.opacity {
  -webkit-animation: Opacity 500ms ease-in-out 200ms;
  -moz-animation: Opacity 500ms ease-in-out 200ms;
  -o-animation: Opacity 500ms ease-in-out 200ms;
  animation: Opacity 500ms ease-in-out 200ms;
}
